<script>
export default {
  name: "Card",
};
</script>

<template>
  <div class="card"></div>
</template>

<style scoped>
.card {
  width: 60vw;
  height: 75vh;
  background-color: white;
  border-radius: 1.235rem;
  box-shadow: 0px 18px 13px 1px rgba(0, 0, 0, 0.25);
}
</style>
