<script>
import Card from "./components/Card.vue";
import { v4 as v4uuid } from "uuid";

export default {
  data() {
    return {
      options: [
        { id: v4uuid(), title: "", text: " " },
        { id: v4uuid(), title: "", text: " " },
        { id: v4uuid(), title: "", text: " " },
        { id: v4uuid(), title: "", text: "" },
        { id: v4uuid(), title: "", text: "" },
      ],
    };
  },

  components: {
    Card,
  },
};
</script>

<template>
  <div class="app">
    <div class="card-wrapper">
      <Card />
    </div>
  </div>
</template>

<style scoped>
.app {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0.5turn,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%) 55%
  );
}

.card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1% 1% 0;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .bgGround {
    background-image: url("./assets/img/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 360px) {
  .bgGround {
    background-image: url("./assets/img/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
</style>
